div#featured-product{
    div{
        display: flex;
        flex-direction: row-reverse;

        div#intro{
            color: $pink;
            padding-bottom: 50px;
            padding-top: 50px;
            width: 38%;
            display: flex;
            flex-direction: column;
            h2,h3,h1{
                text-align: center;
            }
            hr{
                width: 20%;
                height:8px;
                display: none;
            }
            h2{
                border-left: 8px solid $orange;
                padding-left: 4px;
                text-align: left;
                margin-bottom: 30px;
            }
            h3,h1{
                display: none;
            }

            div.img-container{
                display: block;
                margin-left: -120px;
                width: 680px;
                z-index: 400;
                background: #ffffff;
                background-image: url("../images/scale_1.png");
                background-size: contain;
                background-repeat: no-repeat;
                min-height: 500px;
                img{
                    width: 100%;
                    display: none;
                }
            }


        }

        div#content{
            background-color: $pink;

            div.content-container{
                display: flex;
                flex-direction: column;

                padding-left: 10%;
                padding-right: 20%;
                color: #ffffff;

                div.img-container{
                    margin-top: -100px;
                    display: none;
                }
                p{
                    color: #ffffff;
                    line-height: 2.2rem;
                }

                h3,h1{
                    display: block;
                }

                button{
                    margin-top: 50px;
                    background: $orange;
                }
            }
        }
    }
}


div#developer-portal{
    color: $darkGray;

    h2{
        color: $orange;
    }

    div.feature-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .feature-item{
            margin-bottom: 0;
            margin-left: 10px;
            margin-right: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            p.text-leader2{
                color: $orange;
            }

            p.subtext{
                text-align: center;
            }

        }
    }

    div.portal-call-action-container{
        display: flex;
        justify-content: center;
        button{
            background: $orange;
        }
    }
}


div#our-founder{
    display: flex;
    flex-direction: row-reverse;
    div.founder-photo{

        background: $darkRed;
        padding-bottom: 20px;
        h2{
            color: $orange;
            text-align: center;
            display: none;
        }

        div.img-container{
            display: block;
            background-image: url("../images/nabin_founder.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: 50%;

            height: 90%;
            min-width: 350px;
            img{
                display: none;
            }
        }

        .founder-name{
            z-index: 400;
            display: block;

        }
    }

    div.founder-content{
        background: $darkRed;

        div.container{
            padding-left: 10%;
            padding-right: 5%;
            padding-top: 50px;
            padding-bottom: 50px;
            h2{
                color: $orange;
                text-align: left;
            }

            .founder-name{
                display: none;
            }

            div.img-container{
                display: none;
                img{
                    margin-top: -150px;
                }

            }
            p{
                color: #ffffff;
            }
        }
    }
}


footer {
    background: $darkGreen;


    div#logo-plus-settings-container {
    }

    div#site-links {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0;


        .linkset {
            width: 25%;
        }

        #major-links ul {
            display: block;

            li {
                margin-top: 24px;

            }
        }


    }
}

/**
    ABOUT PAGE
 */
div#about-landing {
    background: $greenGradient;
    height: 650px;
    padding-top: 150px;

    div#featured-background {
        height: 100%;
        background-size: 120% 160%;
        background-image: url("../images/about_featured.svg");
        background-repeat: no-repeat;
        background-position-x: -120%;

        div.container {
            padding-top: 80px;

            h2 {
                margin-top: 80px;
            }

            h1 {
                color: $orange;
                font-size: 5rem;
            }

            blockquote {
                width: 70%;
            }

            h1.symb-direct {
                margin-top: 16px;
                width: 50%;
            }
        }
    }
}

div#values-container {
    margin-top: -100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 300;


    .value-item {
        margin-bottom: 20px;
        padding: 20px;
        margin-right: 4px;
    }


    #vision, #values, #mission {
        p.title-text {
            margin-top: 64px;
        }
    }

    #value {
        margin-right: 0;
    }
}


div#company-overview {
    .container {
        .img-container {

            height: 150px;
            background-image: url("../images/company_picture_1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: 50%;
            display: none;
        }

        section {
            figure {
                width: 280px;
                height: 280px;

                img {
                    -webkit-clip-path: circle(50% at 50% 50%);
                    clip-path: circle(50% at 50% 50%);
                }
            }
        }
    }
}


div#our-team{
    div.members{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .member-card{
            width: 20%;
            margin: 16px;
        }
    }
}

div#aboutpage-call-to-action{

}
/**
    SECTORS
 */
div#sector-landing{
    background-image: url("../images/tree_crops_featured.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 620px;
    padding-top: 350px;

    .sector-title-widget{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 20px;
        padding-left: 10%;
        width: 40%;
    }
}

div#sector-content{
    .sectors-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .sector-item{
            display: grid;
            border-radius: 16px;
            margin: 12px;
            width: 30%;


            .sector-image{
                border-top-right-radius: 16px;
                border-top-left-radius: 16px;
                height: 150px;
                background-image: url("../images/cocoa_production.jpg");
                background-position-y: 20%;
                background-repeat: no-repeat;

            }
            h3{
                padding-top: 12px;
            }

            p{
                text-align: center;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
                max-height: 100px;
                overflow: hidden;
                margin-bottom: 20px;
            }
        }

        .sector-item:hover, .sector-item:active{
            cursor: pointer;
            -webkit-box-shadow: 0 8px 8px 0 rgba(246, 111, 14, 0.42), 0 8px 8px 0 rgba(246, 111, 14, 0.4);
            box-shadow: 0 8px 8px 0 rgba(246, 111, 14, 0.42), 0 8px 8px 0 rgba(246, 111, 14, 0.4);
        }
    }
}


div#product-landing {
    .container {
        padding-top: 100px;
        display: flex;

        .text-content {
            padding-top: 15%;

            p {
                color: $orange;
                text-align: left;
                font-weight: 500;
            }

            h1 {
                font-weight: 500;
                text-align: left;
                color: $orange;
            }

            p.subtext {
                color: $darkGray;
            }

            .action-call {
                display: flex;
                justify-content: start;
            }
        }

        div.img-container {
            width: 55%;
            margin-left: 0;
        }

        .action-call {

            display: none;
            justify-content: center;

            button {
                margin-right: 8px;
            }
        }
    }
}


div#product-description {

    .container {


        .video-section {
            display: flex;
            flex-direction: row;

            iframe {
                width: 50%;
                height: 290px
            }

            .see-it-text {
                width: 48%;
                padding-left: 20px;

                h3 {
                    text-align: left;
                }

                p {
                    text-align: left;
                }
            }

        }
    }
}


div#product-feature {

    #smart_features {
        .smart-features-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .smart-feature-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 20px;

                img {
                    margin: 0 auto;
                    max-width: 100px;
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }

            .smart-feature-item:active, .smart-feature-item:hover {
                //background: opacify($orange, 0.3);
            }
        }
    }
}
