
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$pink: #6E44B8;
$darkPink: #9923AE;
$paleGreen: #44B867;
$green: #60A917;
$darkGreen: #397200;
$darkGray: #474747;
$orange: #F66F0E;
$darkRed: #7A201F;
$lightGray: #BFBFBF;


// Gradients
$skyGradient: linear-gradient(to bottom, #E5FFFE 0%, #FFFFFF 100%);
$greenGradient: linear-gradient(to bottom, #60A917 0%, #7AB83E 45%, #FFFFFF 80%, #FDFFFF 100%);



