div#customer-segments-overview{
    h2{
        color: $orange;
    }
    p{
        color: $darkGray;
    }

    div.customers-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .customer-item{
            padding: 18px;
            width: 160px;
            margin: 16px;
            border: 2px solid $orange;
            img{
                margin-left: 2px;
            }
            p{
                text-align: center;
                font-size: 1.2rem;
            }
        }
    }
}

div#product-page {
    padding-top: 120px;
}

div#product-landing {
    .container {
        padding-top: 100px;
        display: flex;

        .text-content {
            padding-top: 10%;

            p {
                color: $orange;
                text-align: left;
                font-weight: 500;
            }

            h1 {
                font-weight: 500;
                text-align: left;
                color: $orange;
            }

            p.subtext {
                color: $darkGray;
            }

            .action-call {
                display: flex;
                justify-content: start;
            }
        }

        div.img-container {
            width: 35%;
            margin-left: 0;
        }

        .action-call {

            display: none;
            justify-content: center;

            button {
                margin-right: 8px;
            }
        }
    }
}

div#product-feature {


    #why_use {
        .punchlines-container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .punchline-item {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 20px;

                .item-icon {
                    display: flex;
                    justify-content: center;
                    justify-self: start;
                    width: 400px;
                    height: 250px;
                    margin-right: 40px;

                    p {
                        text-align: center;
                    }

                    img.container {
                        width: 60% !important;
                        margin-left: 20%;
                    }
                }


                ul.punchstatments {
                    width: 60%;
                    color: $darkGray;
                    font-weight: 300;

                    li:first-child {
                        margin-top: 12px;
                    }

                    li {
                        margin-bottom: 24px;
                        line-height: 1.8rem;
                        font-size: 1.2rem;
                    }

                    li span {
                        margin-right: 16px;
                        color: $green;
                    }
                }
            }

            img {
                margin: 0 auto;
                max-width: 100px;
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }

    #pricing_model {
        .pricing-container {
            display: flex;
            justify-content: center;

            .price-table {
                margin-left: 18px;
                margin-right: 18px;
                width: 30%;
            }
        }


    }
}


div#contact-page {
    padding-top: 170px;

    div.contact-form {
        background-image: url("../images/tree_crops_featured.jpg");
        background-size: cover;

        div.container {
            display: flex;
            justify-content: center;

            div.form-container {
                width: 70%;
                padding: 20px;
                padding-left: 50px;
                padding-right: 50px;

                form {
                    //padding-left: 2%;
                    //padding-right: 2%;
                }
            }
        }
    }
}
