div#customer-segments-overview{
    h2{
        color: $orange;
    }
    p{
        color: $darkGray;
    }

    div.customers-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .customer-item{
            padding: 18px;
            width: 160px;
            margin: 16px;
            border: 2px solid $orange;
            img{
                margin-left: 2px;
            }
            p{
                text-align: center;
                font-size: 1.2rem;
            }
        }
    }
}

div#product-page {
    padding-top: 120px;
}

div#product-landing {
    .container {
        padding-top: 100px;
        display: flex;

        .text-content {
            padding-top: 10%;

            p {
                color: $orange;
                text-align: left;
                font-weight: 500;
            }

            h1 {
                font-weight: 500;
                text-align: left;
                color: $orange;
            }

            p.subtext {
                color: $darkGray;
            }

            .action-call {
                display: flex;
                justify-content: start;
            }
        }

        div.img-container {
            width: 35%;
            margin-left: 0;
        }

        .action-call {

            display: none;
            justify-content: center;

            button {
                margin-right: 8px;
            }
        }
    }
}

