header{
    display: grid;
    grid-template-areas:
        "app_bar_container"
        "brand_image_container"
        "nav_bar_container"
    ;
    grid-template-columns: 100%;
    grid-template-rows: auto 120px 50px;


    div#app-bar-container{
        grid-area: app_bar_container;
        background-color: $orange;

        .mobile-tab-app-bar{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;

            .geo-container{
                background-image: url("../images/arrow_like_background.png");
                background-size: 100% 100%;
                background-repeat: no-repeat;
                flex-grow: 4;

                #geoSettingsToggleBtn,#geoSettingsToggleBtn:active{
                    color: $green;
                    margin-left: 4%;
                    display: none;
                }

                a#language, a#continent, a#appbar_contact{
                    margin-right: 0.4rem;
                    display: inline-block;
                }


            }


            .auth-container{
                width: auto;
                color: #ffffff;
                background-color: $orange;
            }

            .menu-container{
                min-width: 100px;
                background: $green;
                button{
                    background: $green;
                    color: #fff;
                }

                #menuToggleBtn{
                    display: none;


                }

                #joinBtn{
                    display: block;
                }
            }
        }
    }

    div#brand-container{
        grid-area: brand_image_container;
        img{
            width: 300px;
            margin: 0 10%;
        }
    }

    div#nav-container{
        grid-area: nav_bar_container;
        background: $green;
        display: block;
        #join-nav-item{
            display: inline-block;
        }
        #register-nav-item, #login-nav-item{
            display: none
        }
    }
}

