header{
        display: grid;
        grid-template-areas:
            "app_bar_container"
            "brand_image_container"
            "nav_bar_container"
    ;
        grid-template-columns: 100%;
        grid-template-rows: auto 120px auto;


        div#app-bar-container{
            grid-area: app_bar_container;
            background-color: $orange;

            .mobile-tab-app-bar{
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: space-between;

                .geo-container{
                    background-image: url("../images/arrow_like_background.png");
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    flex-grow: 4;

                    #geoSettingsToggleBtn,#geoSettingsToggleBtn:active{
                        display: block;
                        color: $green;
                        margin-left: 4%;

                        #btnText{
                            display: inline;
                        }
                    }

                    a#language, a#continent, a#appbar_contact{
                        display: none;
                    }


                }


                .auth-container{
                    flex-grow: 2;
                    color: #ffffff;
                    background-color: $orange;
                }

                .menu-container{
                    flex-grow: 2;
                    min-width: 100px;
                    background: $green;
                    button, a{
                        background: $green;
                        color: #fff;
                    }

                    #menuToggleBtn{
                        display: none;
                        font-size: 1.3rem;
                        span.btnText{
                            display: inline;
                        }
                    }

                    #joinBtn{
                        display: block;
                    }
                }
            }
        }

        div#brand-container{
            grid-area: brand_image_container;
            padding-top: 8px;
            width: 100%;
            img{
                width: 50%;
                margin: 0;
            }
        }

        div#nav-container{
            grid-area: nav_bar_container;
        }
    }


/**
    ABOUT PAGE
 */
div#company-overview {
    .container {
        .img-container {

            height: 250px;
            background-image: url("../images/company_picture_1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: 50%;
        }
    }
}


div#our-team{
    div.members{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .member-card{
            width: 40%;
            margin: 16px;
        }
    }
}


/**
    SECTORS
 */
div#sector-landing{
    background-image: url("../images/tree_crops_featured.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
    padding-top: 170px;

    .sector-title-widget{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 20px;
        padding-left: 10%;
        width: 60%;
    }
}
