header{
    display: grid;
    position: fixed;
    width: 100%;
    z-index: 500;
    grid-template-areas:
        "app_bar_container"
        "brand_image_container"
        "nav_bar_container"
    ;
    grid-template-columns: 100%;
    grid-template-rows: auto 120px auto;


    div#app-bar-container{
        grid-area: app_bar_container;
        background-color: $orange;
        display: none;

        .mobile-tab-app-bar{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;

            .geo-container{
                background-image: url("../images/arrow_like_background.png");
                background-size: 100% 100%;
                background-repeat: no-repeat;
                flex-grow: 4;

                #geoSettingsToggleBtn,#geoSettingsToggleBtn:active{
                    color: $green;
                    margin-left: 4%;
                    display: none;
                }

                a#language, a#continent, a#appbar_contact{
                    margin-right: 0.4rem;
                    display: inline-block;
                }


            }


            .auth-container{
                flex-grow: 2;
                color: #ffffff;
                background-color: $orange;
            }

            .menu-container{
                min-width: 100px;
                background: $green;
                button{
                    background: $green;
                    color: #fff;
                }

                #menuToggleBtn{
                    display: none;


                }

                #joinBtn{
                    display: block;
                }
            }
        }
    }

    div#brand-container{
        grid-area: brand_image_container;
        div.container{
            display: flex;
            justify-content: space-between;
            div.logo-container{
                width: 100%;
                img{
                    min-width: 300px;
                    margin: 0;
                }
            }
            div#wetula_info{
                padding-right: 2%;
                align-self: end;
                display: block;
                min-width: 400px;
            }
        }

    }

    div#nav-container{
        grid-area: nav_bar_container;
        background: $green;
        display: block;

        #join-nav-item{
            display: inline-block;
        }
        #login-nav-item{
            display: inline-block;
            background: $orange;
        }
        #register-nav-item{
            display: none;
            color: $pink;
            background: #ffffff;
        }
    }
}


div#carousel{
    padding-top: 150px;
    .carousel-title{
        font-size: 2.4rem;
    }
    .carousel-text{
        font-size: 1.6rem;
    }
}

div#featured-product{
    div{
        display: flex;
        flex-direction: column;

        div#intro{
            color: $pink;
            padding-bottom: 200px;
            h2,h3,h1{
                text-align: center;
            }
            hr{
                width: 20%;
                height:8px;
            }
            h2{
                text-align: center;
            }

            div.img-container{
                display: none;
            }
        }

        div#content{
            background-color: $pink;

            div.content-container{
                div.img-container{
                    margin-top: -200px;
                    width: 60%;
                    margin-left: 20%;

                }
                p{
                    color: #ffffff;
                }

                button{
                    background: $orange;
                }

                h3, h1{
                    display: none;
                }
            }
        }
    }
}

footer {
    background: $darkGreen;


    div#logo-plus-settings-container {
        display: flex;

        div.language-setting {

            .settings-container {

                align-self: end;
                padding-left: 100px;
                padding-top: 80px;
                display: flex;
                flex-direction: row;
                justify-content: end;
                float: right !important;
            }
        }
    }

    div#site-links {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0;


        .linkset {
            width: 50%;
        }

        #major-links ul {
            display: block;

            li {
                margin-top: 24px;

            }
        }


    }
}


/**
    ABOUT PAGE
 */

div#about-landing {
    background: $greenGradient;
    height: 650px;
    padding-top: 150px;

    div#featured-background {
        height: 100%;
        background-size: 120% 120%;
        background-image: url("../images/about_featured.svg");
        background-repeat: no-repeat;
        background-position-x: -160%;

        div.container {
            padding-top: 80px;

            h2 {
                margin-top: 80px;
                text-align: left;
                color: #fff;
            }

            h1 {
                color: $orange;
                font-size: 4rem;
                text-align: left;
            }

            blockquote {
                text-align: left;
                max-width: 50%;

            }

            h1.symb-direct {
                margin-top: 16px;
                width: 50%;
            }
        }

        div#branded-lines {
            margin-top: -30px;
            background-image: url("../images/branded_lines.svg");
            background-repeat: no-repeat;
            background-size: 120% 120%;
            height: 50px;
            z-index: 301;
            margin-left: -1%;
        }
    }
}

div#values-container {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    z-index: 300;

    .value-item {
        margin-bottom: 20px;
        padding: 20px;
    }
}


/**
    SECTORS
 */
div#sector-landing{
    background-image: url("../images/tree_crops_featured.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 400px;

    .sector-title-widget{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 20px;
        padding-left: 10%;
        width: 60%;
    }
}

div#sector-content{
    .sectors-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .sector-item{
            display: grid;
            border-radius: 16px;
            margin: 20px;
            width: 44%;


            .sector-image{
                border-top-right-radius: 16px;
                border-top-left-radius: 16px;
                height: 150px;
                background-image: url("../images/cocoa_production.jpg");
                background-position-y: 20%;
                background-repeat: no-repeat;

            }
            h3{
                padding-top: 12px;
            }

            p{
                text-align: center;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
                max-height: 100px;
                overflow: hidden;
                margin-bottom: 20px;
            }
        }

        .sector-item:hover, .sector-item:active{
            cursor: pointer;
            -webkit-box-shadow: 0 8px 8px 0 rgba(246, 111, 14, 0.42), 0 8px 8px 0 rgba(246, 111, 14, 0.4);
            box-shadow: 0 8px 8px 0 rgba(246, 111, 14, 0.42), 0 8px 8px 0 rgba(246, 111, 14, 0.4);
        }
    }
}

/**
PRODUCT PAGE
 */
div#product-page {
    padding-top: 180px;
}

div#product-landing {
    .container {
        padding-top: 100px;

        .text-content {
            p {
                color: $orange;
                text-align: center;
                font-weight: 500;
            }

            h1 {
                font-weight: 500;
                text-align: center;
                color: $orange;
            }

            p.subtext {
                color: $darkGray;
            }
        }

        div.img-container {
            width: 60%;
            margin-left: 20%;
        }

        .action-call {
            display: flex;
            justify-content: center;

            button {
                margin-right: 8px;
            }
        }
    }
}


div#product-feature {


    #why_use {
        .punchlines-container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .punchline-item {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 20px;

                .item-icon {
                    display: flex;
                    justify-content: center;
                    justify-self: start;
                    width: 300px;
                    height: 250px;
                    margin-right: 20px;

                    p {
                        text-align: center;
                    }

                    img.container {
                        width: 60% !important;
                        margin-left: 20%;
                    }
                }


                ul.punchstatments {
                    width: 100%;
                    color: $darkGray;

                    li:first-child {
                        margin-top: 12px;
                    }

                    li {
                        margin-bottom: 12px;

                    }

                    li span {
                        margin-right: 6px;
                        color: $green;
                    }
                }
            }

            img {
                margin: 0 auto;
                max-width: 100px;
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }

    #pricing_model {
        .pricing-container {
            display: flex;
            justify-content: center;

            .price-table {
                margin-left: 15px;
                margin-right: 15px;
                width: 50%;
            }
        }


    }
}
